::-moz-selection{
	 background: #0BB697;
 }

::selection {
	 background:#0BB697;
 }

a, .ha-transparent #navigation ul li a:hover {
	 color: #0BB697;
 }

.ut-language-selector a:hover {
	 color: #0BB697;
 }

.ut-custom-icon-link:hover i {
	 color: #0BB697 !important;
 }

.ut-hide-member-details:hover, #ut-blog-navigation a:hover, .light .ut-hide-member-details, .ut-mm-button:hover:before, .ut-mm-trigger.active .ut-mm-button:before, .ut-mobile-menu a:after {
	 color: #0BB697;
 }

.ut-header-light .ut-mm-button:before {
	 color: #0BB697;
 }

.lead span, .entry-title span, #cancel-comment-reply-link, .member-description-style-3 .ut-member-title,.ut-twitter-rotator h2 a, .themecolor{
	 color: #0BB697;
 }

.icons-ul i, .comments-title span, .member-social a:hover, .ut-parallax-quote-title span, .ut-member-style-2 .member-description .ut-member-title {
	 color:#0BB697;
 }

.about-icon, .ut-skill-overlay, .ut-dropcap-one, .ut-dropcap-two, .ut-mobile-menu a:hover, .themecolor-bg, .ut-btn.ut-pt-btn:hover, .ut-btn.dark:hover {
	 background:#0BB697;
 }

blockquote, div.wpcf7-validation-errors, .ut-hero-style-5 .hero-description, #navigation ul.sub-menu, .ut-member-style-3 .member-social a:hover {
	 border-color:#0BB697;
 }

.cta-section, .ut-btn.theme-btn, .ut-social-link:hover .ut-social-icon, .ut-member-style-2 .ut-so-link:hover {
	 background:#0BB697 !important;
 }

.ut-social-title, .ut-service-column h3 span, .ut-rq-icon{
	 color:#0BB697;
 }

.count, .ut-icon-list i {
	 color:#0BB697;
 }

.client-section, .ut-portfolio-pagination.style_two a.selected:hover, .ut-portfolio-pagination.style_two a.selected, .ut-portfolio-pagination.style_two a:hover, .ut-pt-featured {
	 background:#0BB697 !important;
 }

ins, mark, .ut-alert.themecolor, .ut-portfolio-menu.style_two li a:hover, .ut-portfolio-menu.style_two li a.selected, .light .ut-portfolio-menu.style_two li a.selected:hover {
	 background:#0BB697;
 }

.footer-content i {
	 color:#0BB697;
 }

.copyright a:hover, .footer-content a:hover, .toTop:hover, .ut-footer-dark a.toTop:hover {
	 color:#0BB697;
 }

blockquote span {
	 color:#0BB697;
 }

.entry-meta a:hover, #secondary a:hover, .page-template-templatestemplate-archive-php a:hover {
	 color:#0BB697;
 }

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover, .ut-header-dark .site-logo .logo a:hover {
	 color:#0BB697;
 }

a.more-link:hover, .fa-ul li .fa{
	 color:#0BB697;
 }

.ut-pt-featured-table .ut-pt-info .fa-li{
	 color: #0BB697 !important;
 }

.button, input[type="submit"], input[type="button"], .dark button, .dark input[type="submit"], .dark input[type="button"], .light .button, .light input[type="submit"], .light input[type="button"] {
	 background:#0BB697;
 }

.img-hover {
	 background:rgb(11,182,151);
	background:rgba(11,182,151, 0.85);
 }

.portfolio-caption {
	 background:rgb(11,182,151);
	background:rgba(11,182,151, 0.85);
 }

.team-member-details {
	 background:rgba(11,182,151, 0.85 );
 }

.ut-avatar-overlay {
	 background:rgb(11,182,151);
	 background:rgba(11,182,151, 0.85 );
 }

.mejs-controls .mejs-time-rail .mejs-time-current, .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current, .format-link .entry-header a {
	 background:#0BB697 !important;
 }

.light .ut-portfolio-menu li a:hover, .light .ut-portfolio-pagination a:hover, .light .ut-nav-tabs li a:hover, .light .ut-accordion-heading a:hover {
	 border-color:#0BB697 !important;
 }

.light .ut-portfolio-menu li a:hover, .light .ut-portfolio-pagination a:hover, .ut-portfolio-list li strong, .light .ut-nav-tabs li a:hover, .light .ut-accordion-heading a:hover, .ut-custom-icon a:hover i:first-child {
	 color:#0BB697 !important;
 }

.ut-portfolio-gallery-slider .flex-direction-nav a, .ut-gallery-slider .flex-direction-nav a, .ut-rotate-quote-alt .flex-direction-nav a, .ut-rotate-quote .flex-direction-nav a{
	 background:rgb(11,182,151);
	 background:rgba(11,182,151, 0.85);
 }

.light .ut-bs-wrap .entry-title a:hover, .light .ut-bs-wrap a:hover .entry-title{
	 color: #0BB697;
 }

.ut-rated i {
	 color: #0BB697;
 }

.ut-footer-area ul.sidebar a:hover {
	 color: #0BB697;
 }

.ut-footer-dark .ut-footer-area .widget_tag_cloud a:hover {
	 color: #0BB697!important;
 }

.ut-footer-dark .ut-footer-area .widget_tag_cloud a:hover {
	 border-color: #0BB697;
 }

.elastislide-wrapper nav span:hover {
	 border-color: #0BB697;
 }

.elastislide-wrapper nav span:hover {
	 color: #0BB697;
 }

.ut-footer-so li a:hover {
	 border-color: #0BB697;
 }

.ut-footer-so li a:hover i {
	 color: #0BB697!important;
 }

.ut-pt-wrap.ut-pt-wrap-style-2 .ut-pt-featured-table .ut-pt-header {
	 background:#0BB697;
 }

.ut-pt-wrap-style-3 .ut-pt-info ul li, .ut-pt-wrap-style-3 .ut-pt-info ul, .ut-pt-wrap-style-3 .ut-pt-header, .ut-pt-wrap-style-3 .ut-btn.ut-pt-btn, .ut-pt-wrap-style-3 .ut-custom-row, .ut-pt-wrap-style-3 .ut-pt-featured-table .ut-btn {
	 border-color:rgba(11,182,151, 0.1);
 }

.ut-pt-wrap-style-3 .ut-btn {
	 color:#0BB697 !important;
 }

.ut-pt-wrap-style-3 .ut-btn {
	 text-shadow: 0 0 40px #0BB697, 2px 2px 3px black;
 }

.ut-pt-wrap-style-3 .ut-pt-featured-table .ut-btn {
	 color:#0BB697 !important;
 }

.ut-pt-wrap-style-3 .ut-pt-featured-table .ut-btn {
	 text-shadow: 0 0 40px #0BB697, 2px 2px 3px black;
 }

.ut-pt-wrap-style-3 .ut-pt-featured-table .ut-pt-title {
	 color:#0BB697 !important;
 }

.ut-pt-wrap-style-3 .ut-pt-featured-table .ut-pt-title {
	 text-shadow: 0 0 40px #0BB697, 2px 2px 3px black;
 }

.ut-glow {
	color:#0BB697;
	text-shadow:0 0 40px #0BB697, 2px 2px 3px black;
 }

.light .ut-shortcode-video-wrap .ut-video-caption {
	 border-color:rgba(11,182,151, 1);
 }

.light .ut-shortcode-video-wrap .ut-video-caption i {
	 border-color:rgba(11,182,151, 0.3);
 }

.light .ut-shortcode-video-wrap .ut-video-caption i {
	 color:rgba(11,182,151, 0.3);
 }

.light .ut-shortcode-video-wrap .ut-video-caption:hover i {
	 border-color:rgba(11,182,151, 1);
 }

.light .ut-shortcode-video-wrap .ut-video-caption:hover i {
	 color:#0BB697 !important;
 }

.light .ut-shortcode-video-wrap .ut-video-caption:hover i {
	 text-shadow: 0 0 40px #0BB697, 2px 2px 3px black;
 }

.light .ut-video-loading {
	 color:#0BB697 !important;
 }

.light .ut-video-loading {
	 text-shadow: 0 0 40px #0BB697, 2px 2px 3px black;
 }

.light .ut-video-caption-text {
	 border-color:rgba(11,182,151, 1);
 }

.js #main-content section .section-content,.js #main-content section .section-header-holder {
	opacity:0;
}

#navigation li a:hover {
	 color:#0BB697;
 }

#navigation .selected, #navigation ul li.current_page_parent a.active, #navigation ul li.current-menu-ancestor a.active {
	 color: #0BB697;
 }

#navigation ul li a:hover,#navigation ul.sub-menu li a:hover {
	 color: #0BB697;
 }

#navigation ul.sub-menu li > a {
	 color: #999999;
 }

#navigation ul li.current-menu-item:not(.current_page_parent) a, #navigation ul li.current_page_item:not(.current_page_parent) a {
	 color: #0BB697;
 }

#navigation ul li.current-menu-item:not(.current_page_parent) .sub-menu li a {
	 color: #999999;
 }

.ut-header-dark #navigation li a:hover {
	 color:#0BB697;
 }

.ut-header-dark #navigation .selected,.ut-header-dark #navigation ul li.current_page_parent a.active, .ut-header-dark #navigation ul li.current-menu-ancestor a.active {
	 color: #0BB697;
 }

.ut-header-dark #navigation ul li a:hover,.ut-header-dark #navigation ul.sub-menu li a:hover {
	 color: #0BB697;
 }

.ut-header-dark #navigation ul.sub-menu li > a {
	 color: #999999;
 }

.ut-header-dark #navigation ul li.current-menu-item:not(.current_page_parent) a, .ut-header-dark #navigation ul li.current_page_item:not(.current_page_parent) a {
	 color: #0BB697;
 }

.ut-header-dark #navigation ul li.current-menu-item:not(.current_page_parent) .sub-menu li a {
	 color: #999999;
 }

.ut-loader-overlay {
	 background: #FFFFFF
}

.hero-title span:not(.ut-word-rotator) {
	 color:#0BB697 !important;
 }

.hero-title.ut-glow span {
	 text-shadow: 0 0 40px #0BB697, 2px 2px 3px black;
 }

body {
	 font-family: ralewayregular, "Helvetica Neue", Helvetica, Arial, sans-serif;
 }

h1 {
	 font-family: ralewaysemibold, "Helvetica Neue", Helvetica, Arial, sans-serif;
 }

h2 {
	 font-family: ralewaysemibold, "Helvetica Neue", Helvetica, Arial, sans-serif;
 }

h3 {
	 font-family: ralewaysemibold, "Helvetica Neue", Helvetica, Arial, sans-serif;
 }

h4 {
	 font-family: ralewaysemibold, "Helvetica Neue", Helvetica, Arial, sans-serif;
 }

h5 {
	 font-family: ralewaysemibold, "Helvetica Neue", Helvetica, Arial, sans-serif;
 }

h6 {
	 font-family: ralewaysemibold, "Helvetica Neue", Helvetica, Arial, sans-serif;
 }

.hero-title {
	 text-transform: uppercase;
 }

.hero-title {
	 font-family: ralewayextralight, "Helvetica Neue", Helvetica, Arial, sans-serif;
 }

.hero{
	background-repeat: !important;
	background-size: !important;
	background-image:url("http://globalapptesting.com/files/2014/03/home-image-2.jpg");
}

blockquote {
	 font-family: ralewayextralight, "Helvetica Neue", Helvetica, Arial, sans-serif;
 }

.lead, .taxonomy-description {
	 font-family: ralewayextralight, "Helvetica Neue", Helvetica, Arial, sans-serif;
 }

#ut-loader-logo {
	 background-image: url(http://globalapptesting.com/img/gat_logo_143x59.png);
	 background-position: center center;
	 background-repeat: no-repeat;
 }

#our-customers{
	 padding-top:80px;
	 padding-bottom:60px;
 }

#our-customers .ut-offset-anchor {
	 top:-159px;
 }

#our-customers .parallax-header {
	 padding-bottom:30px;
 }

#our-customers .section-header {
	 padding-bottom:30px;
 }

#our-customers .parallax-title{
	 font-family: ralewaysemibold, "Helvetica Neue", Helvetica, Arial, sans-serif;
 }

#our-customers .section-title{
	 font-family: ralewaysemibold, "Helvetica Neue", Helvetica, Arial, sans-serif;
 }

#how-it-works{
	 padding-top:80px;
	 padding-bottom:60px;
 }

#how-it-works .ut-offset-anchor {
	 top:-159px;
 }

#how-it-works .parallax-header {
	 padding-bottom:30px;
 }

#how-it-works .section-header {
	 padding-bottom:30px;
 }

#how-it-works .parallax-title{
	 font-family: ralewaysemibold, "Helvetica Neue", Helvetica, Arial, sans-serif;
 }

#how-it-works .section-title{
	 font-family: ralewaysemibold, "Helvetica Neue", Helvetica, Arial, sans-serif;
 }

#what-we-do{
	 padding-top:80px;
	 padding-bottom:60px;
 }

#what-we-do .ut-offset-anchor {
	 top:-159px;
 }

#what-we-do .parallax-header {
	 padding-bottom:30px;
 }

#what-we-do .section-header {
	 padding-bottom:30px;
 }

#what-we-do .parallax-title{
	 font-family: ralewaysemibold, "Helvetica Neue", Helvetica, Arial, sans-serif;
 }

#what-we-do .section-title{
	 font-family: ralewaysemibold, "Helvetica Neue", Helvetica, Arial, sans-serif;
 }

.parallax-overlay-pattern.style_one {
	 background-image: url(" http://globalapptesting.com/wp-content/themes/brooklyn/images/overlay-pattern.png") !important;
 }

.parallax-overlay-pattern.style_two {
	 background-image: url(" http://globalapptesting.com/wp-content/themes/brooklyn/images/overlay-pattern2.png") !important;
 }

.ut-pt-header{
	padding: 20px 30px;
	min-height: 110px;
}

.price-container{
	background: white !important;
}

.price-number{
	margin-top: 0px !important;
 }

.price-from{
	display: block;
	font-size: 12px;
	color: #999999 !important;
}

hr{
	height: 2px;
}

.hero-title{
	font-size:3em;
}

.hero-description{
	font-size: 1.2em;
}

.fa{
	font-size: 2em;
}

.team .ut-brands{
	min-height: 160px;
}

.ut-brands{
	min-height: 60px;
}

#how-it-works, #what-we-do, #pricing{
	padding-top: 0px;
	margin-top: -20px;
	min-height: 300px;
}

.pricing{
	padding-top: 60px;
}

.how-it-works h3{
	text-align: center;
	margin-top: -30px;
	margin-bottom: 50px;
	color: #999;
}

.gform_wrapper ul.gfield_checkbox li{
	display: inline-block;
	padding-right: 50px !important;
}

.gform_wrapper ul.gfield_radio li input[type="radio"]:checked+label{
	font-weight: bold;
	margin-top: 2px;
	margin-left: 30px;
}

.gform_wrapper .gfield_radio li label{
	margin-top: 5px;
	margin-left: 30px;
}

.gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox]:active, .gform_wrapper.gf_browser_chrome .gfield_radio li input[type=radio]:active, .gform_wrapper.gf_browser_chrome .gfield_checkbox li input:active,.gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox]:focus, .gform_wrapper.gf_browser_chrome .gfield_radio li input[type=radio]:focus, .gform_wrapper.gf_browser_chrome .gfield_checkbox li input:focus,.gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox]:hover, .gform_wrapper.gf_browser_chrome .gfield_radio li input[type=radio]:hover, .gform_wrapper.gf_browser_chrome .gfield_checkbox li input:hover{
	background: #222;
	 cursor:pointer;
}

.gform_wrapper select{
	margin-bottom: 20px;
}

.gform_wrapper ul.gfield_radio li{
	display: table-cell;
	padding-right: 100px !important;
	padding-top: 7px !important;
}

.google-maps {
	position: relative;
	padding-bottom: 75%;
	 // This is the aspect ratioheight: 0;
	overflow: hidden;
}

.google-maps iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
}

ol {
	 counter-reset: item 
}

ol li {
	 display: block 
}

ol li:before {
	 content: counters(item, ".") " ";
	 counter-increment: item 
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	hr{
		display:none;
	}

}

.pricing ul{
	margin-left:0px;
}

.pricing li{
	margin-bottom:10px;
	margin-left:20px
}

.pricing li:before {
	font-size: 13px;
	padding: 0 8px 0 0;
	line-height: 17px;
	vertical-align: top;
	margin-left: -20px;
	color: #fed533;
}

.page-id-38 .main-content-background, .page-id-38 .contact-section, .page-id-38 .footer{
	display:none !important;
}
